@import url('https://fonts.googleapis.com/css2?family=M+PLUS+1&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kaushan+Script&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Archivo+Narrow:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Acme&display=swap');

* { 
	margin: 0; 
	padding: 0; 
}

header
{
	font-family: 'M PLUS 1', sans-serif;
	height: 200px;
	background-color: #9c6f3a;
}

nav
{
	margin: 20px;
}

li
{
	font-family: 'M PLUS 1', sans-serif;
	display: inline;
	margin: 2px 10px;
}

a
{
	color: white;
	text-decoration: none;
}

a:hover
{
	color: #444447;
}

h1
{
	font-family: 'Kaushan Script';	
	line-height: 100px;
	margin-left: 20px;
	font-size: 45px;
	letter-spacing: 15px;
}

h2
{
	font-family: 'Acme', sans-serif;	font-size: 16px;
}

h3
{
	font-family: 'Archivo Narrow', sans-serif;	font-size: 22px;
}

h4
{
	font-size: 10px;
}

p
{
	font-family: 'M PLUS 1', sans-serif;
	font-size: 16px;
	text-align: justify;
}

p.codigo
{
	background-color: rgba(43, 43, 43, 0.3);
	border: solid 1px rgb(0, 0, 0);
	font-family: 'Roboto', sans-serif;
	font-size: 14px;
	padding: 5px;
}

article
{
	margin: 10px;
}

footer
{
	color: white;
	background-color: black;
	height: 100px;
	width: 100%;
	line-height: 100px;
}
